table{
    max-width: 500px;
    table-layout: fixed;
    text-align: left;
    border-spacing: 15px;
    display: inline-table;
    
    
}

thead{
   font-weight: bold ;
}
div{
    text-align: center;
}